.venv/
venv/
ENV/

# python КЭШ
**/__pycache__/
*.py[cod]
*$py.cllass
!ai_engine.py
!hunter.py




.vscode/
.idea/
*.swp
*.bak

.log

api_token.py
github-recovery-codes.txt
*.pdf
*.html
*.htm
*.PNG
*.png
*.jpg
*.ttf
*.db
search*
https*

